<div class="container">
  <div class="row">
    <div class="col">
      <h2>Edit Ad</h2>

      <%= render "form.html", assigns |> Map.put(:action, ad_path(@conn, :update, @ad)) |> Map.put(:lands, @lands) %>

      <span><%= link "Back", to: ad_path(@conn, :index) %></span>
    </div>
  </div>
</div>
