<h2>Show Ad</h2>

<ul>

  <li>
    <strong>Terrain:</strong>
    <%= link @ad.land.id, to: land_path(@conn, :show, @ad.land) %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @ad.active %>
  </li>

</ul>

<span><%= link "Edit", to: ad_path(@conn, :edit, @ad) %></span>
<span><%= link "Back", to: ad_path(@conn, :index) %></span>

