<div class="background-dark-gray mb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h2-responsive font-bold text-shadow text-yellow-flash p-2 mt-1 mb-1">
          <i id="icon" class="fa fa-home logo"></i>
          Maisons Léo
        </h2>
      </div>
    </div>
  </div>
</div>
