<div class="background-dark-gray mb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h2-responsive font-bold text-shadow yellow-flash-text pt-2 pb-2 mb-0">
          Maisons Léo
        </h2>
      </div>
    </div>
  </div>
</div>
