.upper-section {
  margin-bottom: 3rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 200px;
	}
}

.bottom-section {
  background-color: white;
	position: fixed; bottom: 0; right:0; left: 0;
	padding: 16px;
  @include media-breakpoint-up(sm) {
		position: relative;
		padding: 0;
	}
}
