<div>
  Un nouveau formulaire a été soumis.
  <ul>
    <li>
      <strong>Terrain:</strong>
      <%= "#{@contact.ad.land.surface} m2 à #{@contact.ad.land.city}(#{@contact.ad.land.department})" %>
    </li>

    <li>
      <strong>Nom:</strong>
      <%= @contact.name %>
    </li>

    <li>
      <strong>Email:</strong>
      <%= @contact.email %>
    </li>

    <li>
      <strong>Téléphone:</strong>
      <%= @contact.phone %>
    </li>
  </ul>
</div>
