.text-yellow-flash { color: $yellow-flash; }

.text-shadow { text-shadow: 2px 2px 3px rgba(0,0,0,0.3); }

.title {
  @include media-breakpoint-up(md) { font-size: 300%; }
  @extend .text-shadow;
}

.subtitle {
  @include media-breakpoint-down(xs) { font-size: small; }
}

.brand {
  @include media-breakpoint-up(md) { margin-bottom: map-get($spacers, 5); }
  @include media-breakpoint-down(xs) { font-size: small; }
  @extend .text-shadow;
}

.intro-1 {
  .full-bg-img { background-color: rgba(0, 0, 0, 0.7); }
  height: 500px;
  background: url("/images/maison.png") no-repeat center center;
  background-size: cover;
  @include media-breakpoint-up(xs) { height: 300px; }
  @include media-breakpoint-up(sm) { height: 380px; }
  @include media-breakpoint-up(md) { height: 460px; } 
  @include media-breakpoint-up(lg) { height: 540px; }
  @include media-breakpoint-up(xl) { height: 620px; }
}

.responsive-map {
  @include media-breakpoint-up(xs) { height: 200px; }
  @include media-breakpoint-up(sm) { height: 280px; }
  @include media-breakpoint-up(md) { height: 360px; } 
  @include media-breakpoint-up(lg) { height: 440px; }
  @include media-breakpoint-up(xl) { height: 520px; }
  width: auto;
}

.btn-yellow-flash {
  background-color: $yellow-flash !important;
  color: black !important;
  font-weight: bold;
  &:hover, &:focus {
    background-color: darken($yellow-flash, 5%) !important;
    color: black !important;
  }
}

.badge-green-flash { background-color: $green-flash; }
.text-dark-gray { color: $gray-700; }
.background-dark-gray { background-color: $gray-900; }
.badge { border: 0 !important; }

.alert-main {
  // position: absolute;
  // z-index: 1000;
  @extend .m-0;
  border-radius: 0;
}
