.logo-wrapper {
  // position: absolute;
  font-weight: bold;
  font-size: 20px;
  i.logo {
    text-shadow: none;
  	font-size: 30px;
  	line-height: 60px;
    height: 60px;
    border-radius: 0%;
    text-align: center;
    background-color: transparent;
  }
}

.intro-1 {
  height: 500px;
  background: url("/images/maison.png") no-repeat center center;
  background-size: cover;
  @include media-breakpoint-up(xs) { height: 300px; }
  @include media-breakpoint-up(sm) { height: 380px; }
  @include media-breakpoint-up(md) { height: 460px; } 
  @include media-breakpoint-up(lg) { height: 540px; }
  @include media-breakpoint-up(xl) { height: 620px; }
}

.responsive-map {
  @include media-breakpoint-up(xs) { height: 200px; }
  @include media-breakpoint-up(sm) { height: 280px; }
  @include media-breakpoint-up(md) { height: 360px; } 
  @include media-breakpoint-up(lg) { height: 440px; }
  @include media-breakpoint-up(xl) { height: 520px; }
}

