@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

$intro-1-height: (
  "xs": 270px,
  "sm": 300px,
  "md": 400px,
  "lg": 450px,
  "xl": 450px
);

$spacers: (
  "xs": 4rem,
  "sm": 6rem,
  "md": 8rem,
  "lg": 9rem,
  "xl": 10rem
);

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.btn-xs {
  @extend .btn-sm;
}

.after-nav {
  margin-top: 75px;
}

$spacer-ratio: 1;

$light-gray: #F5F5F5;

.text-underline {
  text-decoration: underline !important;
}

.alert-main {
  border-radius: 0;
  top: 80px;
  position: fixed;
  z-index: 100;
}

.open-sans {
  font-family: "Open Sans";
}

.responsive-avatar {
  @include media-breakpoint-up(xs) { width: 50px; }
  @include media-breakpoint-up(sm) { width: 70px; }
  @include media-breakpoint-up(lg) { width: 85px; }
}

.small {
  font-size: small;
}

.tiny-avatar {
  width: 25px;
}

.responsive-small-avatar {
  @include media-breakpoint-up(xs) { width: 30px; }
  @include media-breakpoint-up(sm) { width: 40px; }
  @include media-breakpoint-up(lg) { width: 50px; }
}

button.img-modal-close {
  $width: 25px;
  opacity: 0.88;
  color: white;
  position: absolute;
  right: $width;
  top: $width;
  @extend .text-shadow;
}

.table-nowrap td {
  white-space: nowrap;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.navbar.fixed {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }

.hide {
  display: none !important;
}

img.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

// .fa-stack .logo-svg {
  // & g { stroke: white; }
  // @extend .fa, .fa-stack-1x;
  // width: 30px;
  // height: 30px;
// }

.logo-svg {
  width: 30px;
  height: 30px;
  & g { stroke-width: 6px; }
  @extend .my-1, .mr-1;
}

.tech-svg {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  height: 100%;
  width: 100%;
}

.lead-th {
  @extend .white-text, .indigo;
}

.warning-th {
  @extend .white-text, .orange;
}

.large-right-space {
  @include media-breakpoint-up(lg) { margin-right: 48px; }
}
.large-left-space {
  @include media-breakpoint-up(lg) { margin-left: 48px; }
}

.paragraph {
  line-height: 1.35;
  font-size: 0.95rem;
  @include media-breakpoint-down(md) { font-size: 0.85rem; }
}

p.paragraph:not(.mb-*, my-*) {
  @extend .mb-2;
}

.blur-pic-bg {
  background-image: url("https://s3-eu-west-1.amazonaws.com/demainchezmoi/cloudfront_assets/images/Maison-leo-configurateur-flou.png");
  background-size: cover;
  min-height: 300px;
}

.ad-login {
  position: absolute;
  top: 56px; right: 0; left: 0; bottom: 0;
  background-image: url("https://s3-eu-west-1.amazonaws.com/demainchezmoi/cloudfront_assets/images/Maison-leo-configurateur-flou.png");
  background-size: cover;
  .ad-login-panel {
    background-color: rgba(255, 255, 255, 0.88);
  }
  .ad-login-button {
    width: 100% !important;
  }
}

.input-group-addon.primary {
  color: white;
  background-color: #007bff;
}

.full-width { width: 100% }
.text-shadow { text-shadow: 2px 2px 3px rgba(0,0,0,0.3); }

// .modal-dialog, .modal-content {
  // max-height: 90%;
  // overflow: auto;
// }

.loading-overlay {
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.5);
  @extend .d-flex, .justify-content-center, .align-items-center;
  i { font-size: 70px; }
}

.tiny-xs {
  @include media-breakpoint-down(xs) {
    font-size: 70%;
  }
}

.tiny {
  font-size: 70%;
}

.small-xs {
  @include media-breakpoint-down(xs) {
    font-size: small;
  }
}

.next-step-footer {
  position: fixed;
  bottom: 0; right: 0; left: 0;
  background-color: white;
  z-index: 1040;
  // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  .next-step-footer-content {
    @extend .d-flex, .justify-content-end, .align-items-center, .pt-2, .pb-2;
  }
}

a.default-color-text {
  color: $default-color !important;
}

.default-color-text {
  color: $default-color;
}

.text-underline {
  text-decoration: underline;
}

.hors-frais {
  padding-left: 4px;
  font-size: 12px;
  top: 10px;
  vertical-align: top;
}

.deactivated-ad {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  $rotation: 7deg;
  @extend .d-flex, .justify-content-center, .align-items-center;
  & .deactivated-text {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 80px;
    font-weight: 900;
    -ms-transform: rotate($rotation); /* IE 9 */
    -webkit-transform: rotate($rotation); /* Chrome, Safari, Opera */
    transform: rotate($rotation);
  }
}

.cp { cursor: pointer; }
.gray-hover {
  &:hover, &:focus, &:active {
    background-color: $gray-200;
  }
}

.slider-card {
  // margin-bottom: 35px !important;
  .card-body {
    position: relative;
    z-index: 10000;
  }
  .slider-card-body {
    height: 205px;
    overflow-y: scroll;
  }
  @extend .mt-1, .mb-2, .mr-1, .ml-1;
}

ol.carousel-indicators {
  // margin-bottom: 0;
}


hr { width: 100%; }

.ml-header {
  @extend
  .h5-responsive,
  .mt-0,
  .mb-0,
  .pt-3,
  .pb-3,
  .pr-2,
  .pl-2,
  .light-bordered,
  .gray-background,
  .white-text;
}


$base-yellow-flash: map-get($yellow-flash, base);

@import url('https://fonts.googleapis.com/css?family=Roboto:900');

nav.navbar.translucid {
  background: rgba(0, 0, 0, 0.6);
  @include media-breakpoint-up(sm) {
    background: rgba(0, 0, 0, 0.4);
  }
}

.presentation-img {
  height: auto;
  @include media-breakpoint-up(xs) { width: 100%; }
  @include media-breakpoint-up(sm) { width: 100%; }
  @include media-breakpoint-up(md) { width: 75%; }
  @include media-breakpoint-up(lg) { width: 50%; }
}

.badge-yellow-flash,
.btn-yellow-flash {
  color: black !important;
}

.font-thin {
  font-weight: 100;
}

#map {
  @include media-breakpoint-up(xs) { height: 200px; }
  @include media-breakpoint-up(sm) { height: 250px; }
  @include media-breakpoint-up(md) { height: 300px; }
  @include media-breakpoint-up(lg) { height: 350px; }
}

.font-light {
  font-weight: 300;
}

.font-black {
  font-weight: 900;
}

.semi-gray-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.light-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.black-bordered {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.light-gray {
  background-color: $light-gray;
}

html, body, main {
  height: 100%;
}

.title-1 {
  @extend .h1-responsive, .font-light;
}

.spacer {
  @extend .py-4;
  @include media-breakpoint-up(xs) { margin-bottom: map-get($spacers, xs) }
  @include media-breakpoint-up(sm) { margin-bottom: map-get($spacers, sm) }
  @include media-breakpoint-up(md) { margin-bottom: map-get($spacers, md) }
  @include media-breakpoint-up(lg) { margin-bottom: map-get($spacers, lg) }
  @include media-breakpoint-up(xl) { margin-bottom: map-get($spacers, xl) }
}

.intro-1 {
  width: 100%;
  position: relative;
  top: 0;
  @extend .d-flex, .justify-content-center;
  @include media-breakpoint-up(xs) { height: map-get($intro-1-height, xs); }
  @include media-breakpoint-up(sm) { height: map-get($intro-1-height, sm); }
  @include media-breakpoint-up(md) { height: map-get($intro-1-height, md); }
  @include media-breakpoint-up(lg) { height: map-get($intro-1-height, lg); }
  @include media-breakpoint-up(xl) { height: map-get($intro-1-height, xl); }
  background: url("https://s3-eu-west-1.amazonaws.com/demainchezmoi/cloudfront_assets/images/pano-ete-jour-min.png") no-repeat center center;
  background-size: cover;
}

// .intro-2 {
  // position: fixed;
  // top: 0; right: 0; bottom: 0; left: 0;
  // display: block;
  // background-color: black;
  // &::after {
    // content: "";
    // background: url("https://s3-eu-west-1.amazonaws.com/demainchezmoi/cloudfront_assets/images/ete-jour-nuage-min.png") no-repeat center center;
    // position: absolute;
    // top: 0; right: 0; bottom: 0; left: 0;
    // // opacity: 0.4;
  // }
// }

.row, .col, div[class^="col-"] {
  z-index: 1;
}

.transition-triangle.white svg polygon { fill: white; }
.transition-triangle.light-gray svg polygon { fill: $light-gray; }
.transition-triangle.gray svg polygon { fill: #eaeaea; }

.transition-triangle {
  &.flip {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    filter: FlipV FlipH;
    -ms-filter: "FlipV FlipH";
  }
  &.v-flip {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }
  &.h-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .triangle-svg {
    width: 100%;
    position: absolute;
    & polygon { position: relative; }
  }

  &.top .triangle-svg {
    @include media-breakpoint-up(xs) {
      $shift: map-get($spacers, xs) / $spacer-ratio;
      height: $shift;
      top: -$shift;
    }
    @include media-breakpoint-up(sm) {
      $shift: map-get($spacers, sm) / $spacer-ratio;
      height: $shift;
      top: -$shift;
    }
    @include media-breakpoint-up(md) {
      $shift: map-get($spacers, md) / $spacer-ratio;
      height: $shift;
      top: -$shift;
    }
    @include media-breakpoint-up(lg) {
      $shift: map-get($spacers, lg) / $spacer-ratio;
      height: $shift;
      top: -$shift;
    }
    @include media-breakpoint-up(xl) {
      $shift: map-get($spacers, xl) / $spacer-ratio;
      height: $shift;
      top: -$shift;
    }
  }

  &.bottom .triangle-svg {
    @include media-breakpoint-up(xs) {
      $shift: map-get($spacers, xs);
      height: $shift / $spacer-ratio;
      bottom: -$shift;
    }
    @include media-breakpoint-up(sm) {
      $shift: map-get($spacers, sm);
      height: $shift / $spacer-ratio;
      bottom: -$shift;
    }
    @include media-breakpoint-up(md) {
      $shift: map-get($spacers, md);
      height: $shift / $spacer-ratio;
      bottom: -$shift;
    }
    @include media-breakpoint-up(lg) {
      $shift: map-get($spacers, lg);
      height: $shift / $spacer-ratio;
      bottom: -$shift;
    }
    @include media-breakpoint-up(xl) {
      $shift: map-get($spacers, xl);
      height: $shift / $spacer-ratio;
      bottom: -$shift;
    }
  }
}


.primary-background {
  background-color: #007bff;
}

.certificates {
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 20px;
}

.brand {
  @include media-breakpoint-up(md) { margin-bottom: map-get($spacers, 5); }
  @include media-breakpoint-down(xs) { font-size: small; }
  @extend .text-shadow;
}

.badge { border: 0 !important; }

.img-thumbnail,
nav.navbar {
  border-radius: 0;
}

.yellow-flash-background {
  background-color: $base-yellow-flash;
}

.dark-gray-text {
  color: $gray-700;
}

.gray-text-500 { color: $gray-500 !important; }
.gray-text-600 { color: $gray-600 !important; }
.gray-text-700 { color: $gray-700 !important; }
.gray-text-800 { color: $gray-800; }
.gray-text-900 { color: $gray-900; }

.gray-700 { background-color: $gray-700; }
.gray-600 { background-color: $gray-600; }

.gray-background {
  background-color: $gray-700;
}

footer {
  background-color: #eaeaea;
}


.photo-stack {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: 1000;
  margin-top: 0 !important;
  background: transparent !important;
}
