<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maisons Léo</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= if current_user = @conn.assigns[:current_user] do %>
      <%= tag :meta, name: "token", content: Phoenix.Token.sign(@conn, "user", current_user.id) %>
    <% end %>
  </head>

  <body>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-main alert-primary alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <%= if get_flash(@conn, :error) do %>
      <div class="alert alert-main alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= get_flash(@conn, :error) %>
      </div>
    <% end %>

    <main role="main">
      <%= Phoenix.View.render PlumWeb.SharedView, "navbar.html", %{} %>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
