<h1 class="h1-responsive mb-4">Votre demande a bien été prise en compte.</h1>
<p class="lead font-bold text-muted">Merci, nous vous contactons dès que possible.</p>
<dl>
  <dt>Annonce</dt>
  <dd>Maison sur terrain de <%= @contact.ad.land.surface %>&nbsp;m<sup>2</sup></dd>
  <dt>Nom</dt>
  <dd><%= @contact.name %></dd>
  <dt>Email</dt>
  <dd><%= @contact.email %></dd>
  <dt>Téléphone</dt>
  <dd><%= @contact.phone %></dd>
</dl>
