<%= Phoenix.View.render PlumWeb.SharedView, "navbar-landing.html", active: :contact %>

<!-- {{{ Header -->
<header class="">
  <section class="intro-1" style="max-height: 550px;">
    <div class="full-bg-img flex-center">
      <div class="container">
        <ul>
          <li><h1 class="title h1-responsive font-bold wow fadeInDown" data-wow-delay="0.2s" style="color: white">Contact</h1></li>
        </ul>
      </div>
    </div>
  </section>
</header>
<!-- }}} -->

<section>
</section>

